body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
p{
    font-size: 13px;
    color: dimgray;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
.price{
    color: #FF136F;
}
.carousel-bg{
    background-color:#FEEAE9;
    border-radius:10px;

}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B , #FF136F );
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border: none;
}
.carousel-item{
    padding: 20px 40px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.cat1{
    background-image: linear-gradient(to right, #FF9C35 , #FFD019);
}
.cat2{
    background-image: linear-gradient(to left, #FF589B , #FF136F);
}
.cat3{
    background-image: linear-gradient(to left, #4289FF , #07F8C3);
}
h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
h3{
    font-size: 17px;
    font-weight: 600;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray

}
.card-footer{
    border: none;
    background-color: white;
}
